## .NET
bin/
obj/
publish/
publish-standalone/

## IDE
.vs/
.idea/
*.user
*.suo
*.cache

## Build artifacts
*.pdb
debug.log

## OS
Thumbs.db
desktop.ini
.DS_Store
__MACOSX/

## Node
node_modules/
package.json
package-lock.json

## Claude
.claude/
*_wpftmp.csproj
*.zip
